.header {
    /*height: 100px;*/
    /*position: relative;*/
    /*top: 6px;*/
    padding: 40px 0 32px;
}

.header__row{
    display: flex;
    align-items: center;
    gap: 112px;
}
.header a {
    text-decoration: none;
}
.header__logo {
    /*left: 8%;*/
    font-weight: 700;
    font-size: 26px;
    /*top: 30px;*/
}
.header__logo a {
    text-decoration: none;
    color: black;
}
.main-nav {
    font-weight: 400;
    font-size: 18px;
    flex-grow: 1;
    display: flex;
}
.main-nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.main-nav__link{
    color: var(--black);
    position: relative;
    padding-right: 20px;
}

.main-nav__link::after{
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icon/down.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.main-header__right {
    font-weight: 400;
    font-size: 18px;
}


.login{
    display: flex;
    align-items: center;
}
